<div class='card_form'>
  <%= form_tag debit_cards_path, remote: true, id: 'existing_card_form' do %>
    <%= hidden_field_tag "existing_card", true  %>   
    <%= hidden_field_tag "amount", 20  %>   
    <div class='control-group'>
      <div class='left'>
        <label>Cardholder</label>
        <%= text_field_tag 'card[first_name]', current_user.first_name, size: 15, disabled: true, id: 'existing_card_first_name'  %>
      </div>
      <div class='right'>
        <%= text_field_tag 'card[last_name]', current_user.last_name, size: 15, disabled: true, id: 'existing_card_last_name'  %>
      </div>
    </div>
    <div class='control-group'>
      <div class='left'>
        <label>Card Number</label>
        <%= text_field_tag 'card[card_number]', "**** #{card.last4}", maxlength: 16, disabled: true, id: 'existing_card_number' %>
      </div>
    </div>
    <div class='control-group'>
      <div class='left'>
        <label>Expiration Date</label>
        <%= text_field_tag 'card[expiration_date]', "#{card.exp_month}/#{card.exp_year}", disabled: true, id: 'existing_card_exp_month'  %>
      </div>
    </div>

    <div class='control-group'>
      <%= submit_tag "Use debit card", class: 'button', data: { disable_with: "Please wait..." } %>
    </div>

  <% end%>
</div>
