<div class='card_form'>
  <%= form_tag debit_cards_path, remote: true, id: 'new_card_form'  do %>
    <%= hidden_field_tag "amount", 20  %>   
    <div class='control-group'>
      <div class='left'>
        <label>Cardholder</label>
        <%= text_field_tag 'card[first_name]', current_user.first_name, size: 15, disabled: true  %>   
      </div>
      <div class='right'>
        <%= text_field_tag 'card[last_name]', current_user.last_name, size: 15, disabled: true  %>   
      </div>
    </div>
    <div class='control-group'>
      <div class='left'>
        <label>Card Number</label>
        <%= text_field_tag :card_number, nil, maxlength: 16, placeholder: 'Enter card number...' %>
        <div class='error_message'></div>
      </div>
    </div>
    <div class='control-group'>
      <div class='left'>
        <label>CVV</label>
        <%= text_field :card, :cvv, maxlength: 3, size: 20, placeholder: 'CVV' %>   
        <div class='error_message'></div>
      </div>
    </div>
    <div class='control-group'>
      <div class='left'>
        <label>Expiration Date</label>
        <%= month_field(:card, :exp_month)%>
        <div class='error_message'></div>
      </div>
    </div>
    <div class='control-group'>
      <%= submit_tag "Submit new debit card", class: 'button', data: { disable_with: "Please wait..." }, id: 'submit_new_card_button' %>
    </div>

  <% end%>
</div>
