<% if @alert %>
  $(".messages").html("<%= escape_javascript(render partial: 'layouts/messages', locals: { alert: @alert }) %>")
<% else %>
  $(".messages").html("<%= escape_javascript(render partial: 'layouts/messages', locals: { alert: nil, notice: nil }) %>")
  $("#dialog").html('<p><%= @notice %></p>');
  $("#dialog" ).dialog();
<% end %>
