<h1>Checkout. Recurring Amount $20</h1>
<div id="tabs">
  <ul>
    <% if @debit_card %>
      <li><a href="#tabs-1">Existing Debit Card</a></li>
    <% end %>
    <li><a href="#tabs-2">New Debit Card</a></li>
  </ul>
  <% if @debit_card %>
    <div id="tabs-1">
      <%= render partial: 'existing_card', locals: { card: @debit_card } %>
    </div>
  <% end %>
  <div id="tabs-2">
    <%= render partial: 'new_card', locals: { card: @new_debit_card } %>
  </div>
</div>


<div id="dialog" title="Order status">
</div>
