// Place all the styles related to the DebitCards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.ui-tabs.ui-tabs-vertical {
	padding: 0;
  width: 60em;
	.ui-widget-header { border: none; }
	.ui-tabs-nav {
  	float: left;
   	width: 12em;
   	background: #CCC;
   	border-radius: 4px 0 0 4px;
   	border-right: 1px solid gray;
		li {
			clear: left;
			width: 100%;
			margin: 0.2em 0;
			border: 1px solid gray;
			border-width: 1px 0 1px 1px;
			border-radius: 4px 0 0 4px;
			overflow: hidden;
			position: relative;
			right: -2px;
			z-index: 2;
			a {
				display: block;
				width: 100%;
				padding: 0.6em 1em;
			}
		}
		li a:hover { cursor: pointer; }
		li.ui-tabs-active {
			margin-bottom: 0.2em;
			padding-bottom: 0;
			border-right: 1px solid white;
		}
	}
	.ui-tabs-nav li:last-child {
		margin-bottom: 10px;
	}
	.ui-tabs-panel {
		float: left;
		width: 28em;
		border-left: 1px solid gray;
		border-radius: 0;
		position: relative;
		left: -1px;
	}
}

.card_form {
  float: left;
  width: 40em;
  label { 
    float: left;
    color: #999999;
    text-align: center;
    border: 1px solid #ccc;
    padding: 4px 5px;
    width: 160px !important;
  }
  input { 
    display: inline-block;
    padding: 4px 5px;
  }
  .control-group { margin-bottom: 1em }
  .left { display: inline-block; }
  .right { 
    margin-right: 0;
    display: inline;
    width: 20em;
  }
	.button {
		cursor: pointer;
		padding: 2px 4px;  
		color: #333;
		background-color: #CCC; 
		background-image: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#A3A3A3));
		border: 1px solid #999;
		border-radius: 4px; 
		font-size: 14px;
	}
  .error_message {
    color: #F00;
    font-size: 10px;
    text-align: right;
  }
}
