body {
  font-family: tahoma, arial, verdana, sans-serif, 'Lucida Sans'; 
  font-size: 12px;
  line-height: 17px;
}

.header {
  background: #555 repeat-x 0 0;
  color: #CCC;
  font-size: 1.2em;
  line-height: 2em;
  padding: 1em;

  .user_info {
    margin-top: 1em;
    li {
      display: inline-block;
      margin-right: 1em;
    }
  }
  a {
    text-decoration: underline;
    color: #00c0ff;
  } 
}

.messages {
  font-size: 1.5em;
  text-align: center;
  border-width: 1px;
  padding-top: 1em;
  .notice { 
    display: inline;
    background: #5BC0DE;
    color: #EFEFEF;
  }  
  .alert {
    display: inline;
    background: #EE5F5B;
    color: #EFEFEF;
  }
}

.vcontainer {
  display: table;
  height: 100%;
  width: 100%;
}

.hcontainer {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.content {
  display: inline-block;
  border: lightGray 1px solid;
  background-color: #bdbdbd;
  text-align: left;
  padding: 2em;
  margin-top: 2em;
}
