<div class='header'>
  <h1>Problem #1: E-commerce debit card page</h1>
  <% if current_user %>
    <ul class='user_info'>
      <li>Email: <%= current_user.email %></li>
      <li><%= link_to('Logout', destroy_session_path(current_user), { :method => :delete }) %></li>
    </ul>
  <% end %>
</div>
