<!DOCTYPE html>
<html>
  <head>
    <title>PaymentGateway</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render :partial => 'layouts/top_navigation' %>
    <%= render :partial => 'layouts/messages' %>
    <div class='vcontainer'>
      <div class='hcontainer'>
        <div class='content'>
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
